/out/
/work/

/src/Makefile
/Makefile
/digifon

/simulations/results*
/simulations/Makefile
/simulations/digifon
/simulations/digifon_dbg
/simulations/*/results*
/simulations/*/*results*

/.settings/

.oppfeaturestate
.cmdenv-log
.tkenvlog
.qtenvrc

*.vci
*.so
*.exe
*_m.h
*_m.cc
*.sca
*.vec
*.elog
*.anf
.idea
